* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0B3954;
}

h1 {
  font-size: 2.5rem;
  color: #BC4B51;
}

.main-div {
  margin: 0 auto;
  text-align: center;
}

.main-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.main-div form > * {
  width: 60%;
  margin: 0.1rem;
  padding: 0.2rem;
}

.main-div form button {
  background-color: #F4A259;
  border: 2px solid white;
}

.main-div form button:hover,
.main-div form button:active {
  border: 2px solid #BC4B51;
  cursor: pointer;
}

.book-div {
  padding: 1rem;
  margin: 0.1rem;
  border: 1px solid #B8B42D;
  background-color: #8CB369;
}

.book-div:hover {
  border: 1px #f37121 solid;
}

@media(min-width: 700px) {
  .all-books {
    display: flex;
    flex-flow: row nowrap;
    margin: 2rem auto;
    width: 50vw;
  }

  .main-div form > * {
    max-width: 20rem;
  }
}