* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: #0B3954;
}

h1, h2 {
  color: #fc7070;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.main_headers__section {
  text-align: center;
}

.main_headers__section h1 {
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  font-size: 1rem;;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

label:first-of-type {
  margin-right: 2rem;
}

.main_div {
  position: relative;
  margin: 0 auto;
  text-align: center;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  z-index: 100;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.400);
}

.course_form {
  position: absolute;
  top: 10vh;
  left: 5vw;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 3rem 1.5rem;
  background-color: rgb(206, 236, 226);
  border: solid rgb(237, 211, 252) 2px;
  border-radius: 4px;
  box-shadow: 0 1px 1px #85806ef3;
  z-index: 200;
}

.course_form[hidden=""] {
  visibility: hidden;
}

.course_form > * {
  width: 80%;
  margin: 0.1rem;
  padding: 0.2rem;
}

.input-title,
.input-issuer {
  line-height: 1.3rem;
}

.form-buttons_div > * {
  margin: auto 0.3rem;
  padding: 0.5rem;
}

.submit-course_button,
.add-new-course_button {
  min-width: 100px;
  background-color: #F4A259;
  border: 2px solid ghostwhite;
  color: white;
}

.add-new-course_button {
  padding: 1rem;
}

.submit-course_button:hover,
.submit-course_button:active,
.add-new-course_button:hover,
.add-new-course_button:active,
.close-form_button:hover,
.close-form_button:active {
  border: 2px solid #ff812d;
}

.close-form_button {
  background-color: whitesmoke;
  border: 2px solid #f4a15977;
}

.course__section {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #B8B42D;
  background-color: floralwhite;
  border: 1px #d68c8cd8 solid;
  border-radius: 4px;
}

.course__section:hover {
  position: relative;
  top: -0.1rem;
  box-shadow: 0 1px 1px #918f8bf3;
}

.course__heading1,
.course__heading2 {
  font-size: 1rem;
}

.course-remove__button,
.toggle-status__button {
  display: inline;
}

@media(min-width: 700px) {
  .all-courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 1rem auto;
    width: 80vw;
  }

  .submit-course_button {
    width: 200px;
  }

  .add-new-course_button,
  .close-form_button {
    display: none;
  }

  .course_form,
  .course_form[hidden=""] {
    margin-left: 25%;
    padding: 0.5rem;
    position: static;
    visibility: visible;
    max-width: 50%;
  }
  
  .input-title,
  .input-issuer,
  select {
    max-width: 30rem;
  }

  .course__section {
    margin: 0.8rem;
  }

  .course__heading1,
  .course__heading2 {
    font-size: 1.2rem;
  }
}

@media(min-width: 1200px) {
  .main_div {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .main_headers__section,
  .course_form,
  .course_form[hidden=""] {
    margin: 0;
    max-width: 450px;
    border-left: unset;
    border-radius: 0 10px 10px 0;
  }

  .main_headers__section h2 {
    margin-top: 0;
  }
  
  .all-courses {
    position: relative;
    top: -127px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 3rem;
    width: auto;
  }
}

@media(min-width: 1600px) {
  .all-courses {
    grid-template-columns: repeat(4, 1fr);
  }
}